/*************************
BODY CONTENT
*************************/

body{
  background-color: #fdfdfd;
  color: #5d5d5d;
}
h5{
  font-weight: 430;
}
img{
  max-width: 100%
}

p{
  font-size: 16px;
}
.company{
  margin-top: 0px;
}

.container{
  transition: all 0.2s;
  padding-left: 2rem;
  padding-right: 2rem;

}

.u-textLower{
  text-transform: lowercase;
}

.section{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 170px;
}

.intro-section{
  padding-top: 100px;
  padding-bottom: 170px;
}

.u-lighter{
  font-weight: 400;
}

.j-fontSize14{
  font-size: 18px;
}

.title{
  padding-bottom: 1.5em;
}

.image{
  align-items: center;
  height: 120px;
  background-color: rgba(199,199,199, 0.15); /* #C7C7C7 */
  justify-content: center;
  display: flex;
}

.projectItem{
  cursor: pointer;
  padding-bottom: 1em;
}

/*************************
FORM CONTENT
*************************/
.contactForm{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.inputGroup{
  position: relative;
}

label{
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 1.15em;
  margin-bottom: 0;
}

input {
  background: none;
  border: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  transition: all .2s ease;
  line-height: normal;
  font-size: medium;
  font-weight: 500;
}

textarea {
  background: none;
  border: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  transition: all .2s ease;
  line-height: normal;
  font-size: medium;
  font-weight: 400;
}


textarea:focus, input:focus{
    outline: none;
}

.name{
  border-bottom: 2px solid;
  flex-grow: 1;
  padding-left: 55px;
}
.email{
  border-bottom: 2px solid;
  flex-grow: 1;
  padding-left: 55px;
}
.message{
  width: 100%;
  padding-left: 75px;
  height: 50px;
}


/*************************
MODAL CONTENT
*************************/

.modal-dialog{
  width: 750px;
  margin-right: 0px;
  min-height: 500px;
}

.modal-content{
  padding: 20px;
}

.fade{
  background: none;
}


@media(max-width:991px){
.modal{
  width: 90%;
}
.modal-content{
  width: 90%!important;
}
}
